# Chapter 4 Loops

In [39]:
fruits : list = ["Apple", "Cherry" , "Grapes"]
print(fruits)

['Apple', 'Cherry', 'Grapes']

In [40]:
for x in fruits:
    print(x)

Apple
Cherry
Grapes

In [41]:
for x in fruits:
    print(x.upper())

APPLE
CHERRY
GRAPES

In [42]:
for x in fruits:
    if x=="Cherry":
        fruits.remove(x)
        print(x)
    print(fruits)

['Apple', 'Cherry', 'Grapes']
Cherry
['Apple', 'Grapes']

# Avoid Indentation Error

In [43]:
# jo methods kuch return krty hai wo print mai use kr sakty 
for x in fruits:
    print(x)
    print("First Name")
print("Last Name")

Apple
First Name
Grapes
First Name
Last Name

# range() function

In [55]:
# range(start(default =0), end, step(default = 1))
for i in range(2, 10, 2):
    print(f"{i}- Esha")

2- Esha
4- Esha
6- Esha
8- Esha

In [56]:
# range(start(default =0), end, step(default = 1))
for i in range(10, 0, -1):
    print(f"{i}- Esha")

10- Esha
9- Esha
8- Esha
7- Esha
6- Esha
5- Esha
4- Esha
3- Esha
2- Esha
1- Esha

# Type casting

In [62]:
# conversion of one data type to another data type
# int()   float()      bool()      str()

# list()    tuple()   set()     dic()

# e.g.     list(range(0, 11, 1)) 
list1 : list =list(range(0, 11, 1))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
numbers : list = [1,2,3,4,5,6,7,8,9,10]
squares: list =[]
for x in numbers:
    x=x**2
    squares.append(x)
display(numbers)
display(squares)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
[x**2 for x in numbers]        # another method to calculate squares
    #     x   sy jo bhi number aye ga us pr for sy pyhly wala task perform ho ga

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]